<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dropeffect="none" style=""
      class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head th:replace="header::head-fragment"></head>
<body class="zhi">
<div th:replace="header::nav-fragment(${user})"></div>
<link rel="stylesheet" media="all" href="../styles/letter.css">
<div id="main">
    <div class="zg-wrap zu-main clearfix ">
        <ul class="letter-list">
            <li th:each="conversationVO:${vos}" id="conversation-item-10005_622873">
                <a class="letter-link"
                   th:href="@{'/msg/detail?conversationId='+${conversationVO.get('conversation').conversationId}}"></a>
                <div class="letter-info">
                    <span class="l-time"
                          th:text="${#dates.format(conversationVO.get('conversation').createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    <div class="l-operate-bar">
                        <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                        删除
                        </a>
                        <a th:href="@{'/msg/detail?conversationId='+${conversationVO.get('conversation').conversationId}}"
                           th:text="|共${conversationVO.get('conversation').id}条会话|"></a>
                    </div>
                </div>
                <div class="chat-headbox">
                        <span th:if="${conversationVO.get('unread')}"
                              class="msg-num" th:text="${conversationVO.get('unread')}"></span>
                    <a class="list-head" th:href="@{'/user/'+${conversationVO.get('user').name}}">
                        <img alt="头像" th:src="${conversationVO.get('user').headUrl}">
                    </a>
                </div>
                <div class="letter-detail">
                    <a title="通知" class="letter-name level-color-1" th:text="${conversationVO.get('user').name}"
                       th:href="@{'/user/'+${conversationVO.get('user').name}}"></a>
                    <a class="letter-brief" th:utext="${conversationVO.get('conversation').content}"
                       th:href="@{'/msg/detail?conversationId='+${conversationVO.get('conversation').conversationId}}">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div th:replace="js::js-fragment"></div>
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
<div th:replace="footer::footer-fragment"></div>
</body>
</html>